.text-center {
    text-align:  center;
}

body {
    background: hsl(0 , 10% , 10%);
    color: white;
    height: 100vh;
    display: grid;
    place-content: center;
    font-family: Arial, Helvetica, sans-serif;
}